BasedOnStyle: Microsoft

AccessModifierOffset: -4
AlignConsecutiveAssignments: AcrossComments
AlignConsecutiveDeclarations: AcrossComments
AlwaysBreakTemplateDeclarations: Yes
# BreakTemplateDeclarations: Yes
IntegerLiteralSeparator:
  Binary: 8
  Decimal: 3
  Hex: 4
PackConstructorInitializers: NextLineOnly
QualifierAlignment: Left
RemoveParentheses: ReturnStatement
RemoveSemicolon: true
SeparateDefinitionBlocks: Always
