Checks: 
- bugprone-*
- cert-*
- concurrency-*
- cppcoreguidelines-*
- -cppcoreguidelines-avoid-magic-numbers
- google-*
- misc-*
- modernize-*
- -modernize-use-trailing-return-type
- performance-*
- readability-*
- -readability-identifier-length
- -readability-magic-numbers